* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;

}

body {
    background: rgb(121, 9, 9);
    background: linear-gradient(0deg, rgba(121, 9, 9, 1) 10%, rgba(2, 0, 36, 1) 80%);
    background-repeat: no-repeat;
    height: 100%;
    overflow-y: hidden;
}

.App {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    position: sticky;
    top: 0;
    z-index: 10;
    width: 100%;
}

main {
    overflow-y: auto;
    flex: 1;
    height: 100%;
    position: relative;
}

footer {
    position: relative;
    bottom: 0;

}

.container {

    @media (max-width: 576px) {
        margin: 0;
        text-align: center;
    }


}